.input {
  display: none;
}

.label {
  font-size: 1.3rem;
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.checkbox {
  content: "";
  position: relative;
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  border: 3px solid;
  border-radius: 2px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
