.homePageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  background-color: var(--primary);
}

.title {
  font-size: 5rem;
  color: var(--white);
}

.authInfo {
  font-size: 2rem;
  color: var(--white);
  position: absolute;
  top: 4rem;
  right: 4rem;
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.logoutIcon {
  cursor: pointer;
  transition: stroke 0.2s;
}

.logoutIcon:hover {
  stroke: var(--secondary);
}
